<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991998153611-1q85q0bcso6vuuvseifasmlj7nv6sf3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991998153611-1q85q0bcso6vuuvseifasmlj7nv6sf3u</string>
	<key>API_KEY</key>
	<string>AIzaSyAPqxBGQq7s7tCrMxFRAh24COu1SdJ6IK4</string>
	<key>GCM_SENDER_ID</key>
	<string>991998153611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.eztrash</string>
	<key>PROJECT_ID</key>
	<string>todo-list-98120</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-98120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991998153611:ios:33c2f67f3cd0f3782c958e</string>
</dict>
</plist>